.container {
  display: grid;
  gap: 10px;
  background-color: black;
  grid-template-areas:
  
  "filme titulo nota sinopse genero class"
    }

    .titulo {
      grid-area: titulo;
      padding: 50px;
      font-size: 20px;
      color: aqua;
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 45px;
      }

    .nota {
      grid-area: nota;
      padding: 20px;
      font-size: 30px;
      color: aqua;
      background-color: rgba(255, 255, 255, 0.8);
      font-size: 45px;
      }

      .sinopse {
        grid-area: sinopse;
        padding: 20px;
        font-size: 30px;
        color: aqua;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 20px;
        }

        .genero {
          grid-area: genero;
          padding: 20px;
          font-size: 30px;
          color: aqua;
          background-color: rgba(255, 255, 255, 0.8);
          font-size: 45px;
          }

          .class {
            grid-area: class;
            padding: 20px;
            font-size: 30px;
            color: aqua;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 45px;
            }

            .filme {
              grid-area: filme;
              }





/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}