/* Estilos para o container principal */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para os elementos do grid */
.titulo {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.nota {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.sinopse {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.genero, .class {
  font-size: 18px;
  font-weight: bold;
}

.filmes {
  font-size: 16px;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

#voltarBtn {
  background-color: #4285F4;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para o botão de pesquisa ao passar o mouse (hover) */
#voltarBtn:hover {
  background-color: #3579D8;
}