body {
  background-color: black;
  text-align: center;
  color: white;
}

#head {
  padding: 40px;
}

input {
  border: white solid 3px;
  width: 60%;
  border-radius: 5px;
  height: 28px;
}

#buscar {
  border: white solid 8px;
  width: 80px;
  height: 36px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

#imagem {
  width: 400px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

h1 {
  padding: 1px;
}

p {
  margin-bottom: 100px;
}

footer {
  padding-top: 50px;
}

#object {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 9%;
  margin-right: 9%;
}

img {
  max-width: 200px;
  padding: 10px 10px;
  border-radius: 20px;
}

img:hover {
  opacity: 0.2;
  transition: 1s;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  head {
    display: flex;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  #head {
    display: flex;
    text-align: center;
  }
}
