body {
  background-color: rgb(0, 208, 255);
  text-align: center;
  color: white;
}

#head {
  padding: 30px;
}

input {
  border: white solid 3px;
  width: 60%;
  border-radius: 5px;
  height: 38px;
  text-align: center;
  color: grey;
  background-color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:hover {
  background-color: rgba(0, 0, 0, 0.757);
  box-shadow: inset 0 0 1em rgba(46, 3, 3, 0.947), 0 0 1em black;
}

#buscar {
  border: white solid 8px;
  width: 90px;
  height: 46px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

#imagem {
  height: 35vh;
  width: 50%;
  border-radius: 60px;
  cursor: default;
  transition: all 0.5s;
}

#imagem:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

h1 {
  padding: 1px;
}

p {
  margin-bottom: 100px;
}

#object {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 9%;
  margin-right: 9%;
}

img {
  padding: 10px 10px;
  border-radius: 20px;
  transition: all 0.5s;
}

img:hover {
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  head {
    display: flex;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  #head {
    display: flex;
    text-align: center;
  }
}
